.welcome {
	background-image: url(https://vetunion.ru/upload/resize_cache/webp/iblock/43c/lbyk195bxbwp801052hfb874p9cv43z0.webp);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 300px;
}