figure {
  padding: 18px;
  border: 2px solid #e0e4e8;
  margin-top: 20px;
  margin-bottom: 20px;
}
.figure-cathedral {
  float: right;
  margin-left: 40px;
  margin-right: 0;
}
.figure-nasdaq {
  float: left;
  margin-left: 0;
  margin-right: 40px;
}
.figcaption {
  font-size: 13px;
  margin-top: 10px;
}
p {
  line-height: 26px;
}
ul {
  line-height: 22px;
}